:root[data-theme="light"] {
    --background: white;
    --text: black;
    --drawer-background: #f5f7fb;
    --drawer-text: #1f2937;
    --drawer-text-background: #eef2f8;
}

:root[data-theme="dark"] {
    --background: #121212;
    --text: white;
    --drawer-background: #0f1115;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(10,10%);
    min-height: 100vh;
    width: 100vw;
    background-color: var(--background);
    color: var(--text);
    user-select: none;
}

#header {
    grid-row: 1;
    grid-column: 1/5;
}

header {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
}

/*SideDrawer*/
#drawer {
    display: flex;
    position: fixed;
    flex-direction: column;
    row-gap: 20px;
    height: 100vh;
    width: 300px;
    left: -300px;
    background-color: var(--drawer-background);
    transition: 0.2s ease-in;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1000;
}

#drawer a {
    display: flex;
    text-decoration: none;
    color: var(--drawer-text);
    background-color: var(--drawer-text-background);
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#drawer a i {
    width: 22px;
    height: 22px;
    stroke: var(--text);
    flex-shrink: 0;
}

#overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 999;
}

#drawer.open {
    left: 0px;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
}