<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <title>WM 2026 - Team-Kader</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/scripts/color_scheme.js"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body class="hauptSeite">

  <section class="kaderAbschnitt">
    <h1 class="abschnittTitel">Spielerinformationen</h1>

    
    <div class="teamAuswahlBox">
      <!--                            Plazthalter für Flagge falls Java Script Nicht Lädt-->
      <img id="flaggenBild" class="flaggenBild" src="../flags/Placeholder.svg" alt="Flagge">
      <select id="teamAuswahl" class="teamDropdown">
        <option value="">Länder werden geladen...</option>
      </select>
    </div>

    <div id="kaderInhalt"></div>
  </section>

  <script src="/scripts/drawer.js"></script>
  <script src="/scripts/components.js"></script>
  <script src="/scripts/kader.js"></script>
</body>
</html>