<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <title>WM 2026 - Tabellen & Spiele</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/scripts/color_scheme.js"></script>
  <script src="/scripts/data.js"></script>
  <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body class="hauptSeite">

  <main id="tabellenUebersichtBox" class="tabellenUebersichtBox">
    <p class="infoSpielText">Daten werden geladen...</p>
  </main>

  <script src="/scripts/drawer.js"></script>
  <script src="/scripts/components.js"></script>
  <script type="module" src="/scripts/table.js"></script>
</body>
</html>