<div id="seitenleiste" class="seitenleiste">
  <div class="seitenleisteKopf">
    <h3 class="seitenleisteTitel">Menü</h3>
    <button id="schliessenKnopf" aria-label="Menü schließen">
      <i data-lucide="x"></i>
    </button>
  </div>
  <nav class="seitenleisteNav">
    <a href="./" class="seitenleisteLink">
      <i data-lucide="home"></i>
      <span>Home</span>
    </a>
    <a href="./table.html" class="seitenleisteLink">
      <i data-lucide="table"></i>
      <span>Tabelle</span>
    </a>
    <a href="./spielplan.html" class="seitenleisteLink">
      <i data-lucide="table-of-contents"></i>
      <span>Spielplan</span>
    </a>
    <a href="./kader.html" class="seitenleisteLink">
      <i data-lucide="users"></i>
      <span>Kader</span>
    </a>
    <a href="./quiz.html" class="seitenleisteLink">
      <i data-lucide="trophy"></i>
      <span>WM Quiz</span>
    </a>
  </nav>
</div>
<div id="seitenleisteHintergrund" class="seitenleisteHintergrund"></div>

<header>
  <h3 class="kopfZeile" id="seitenTitel">WM 2026</h3>
  <nav class="desktopNav">
    <a href="./" class="desktopNavLink">Home</a>
    <a href="./table.html" class="desktopNavLink">Tabelle</a>
    <a href="./spielplan.html" class="desktopNavLink">Spielplan</a>
    <a href="./kader.html" class="desktopNavLink">Kader</a>
    <a href="./quiz.html" class="desktopNavLink">WM Quiz</a>
  </nav>
  <button id="menueKnopf" aria-label="Menü öffnen">
    <i data-lucide="menu"></i>
  </button>
</header>
